
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>INSPINIA | @ViewBag.Title</title>
    <meta name="description" content="ASP.Net MVC ile template giydirme eğitimi" />
    <meta name="author" content="Mesut" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="apple-touch-icon" href="~/assets/img/favicons/apple-touch-icon.png" />
    <link rel="icon" href="~/assets/img/favicons/favicon.ico" />
    @Styles.Render("~/Areas/Admin/Content/css")
    @Styles.Render("~/Areas/Admin/font-awesome/css")
    @Styles.Render("~/bundle/css")
    @RenderSection("top", false)
</head>
<body>

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        @Html.Partial("_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

    @Scripts.Render("~/Areas/Admin/bundles/jquery")
    @Scripts.Render("~/Areas/Admin/bundles/bootstrap")
    @Scripts.Render("~/Areas/Admin/plugins/metsiMenu")
    @Scripts.Render("~/Areas/Admin/plugins/pace")
    @Scripts.Render("~/Areas/Admin/plugins/slimScroll")
    @Scripts.Render("~/Areas/Admin/bundles/inspinia")
    @Scripts.Render("~/bundle/js")
    @RenderSection("scripts", required: false)
    @RenderSection("bottom", false)
</body>
</html>
