@model List<TeknikServis.Models.Entities.Ariza>
@using TeknikServis.BLL.Identity
@using TeknikServis.Models.Enums
@{
    ViewBag.Title = "ArizaDurumu";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4>Dynamic Table - Full</h4>
    </div>
    <div class="card-block">
        <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
        <table class="table table-bordered table-striped table-vcenter dataTable">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Müşteri Adı</th>
                    <th>Ürün Tipi</th>
                    <th>Ürün Adı</th>
                    <th>Operatör Adı</th>
                    <th>Atanan Teknisyen</th>
                    <th>Teknisyen Yorumu</th>
                    <th>Arızanın Durumu</th>
                    <th>Tamir Durumu</th>


                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {


                    var data = Model[i];
                    var data2 = MemberShipTools.GetNameSurname(Model[i].MusteriId);
                    var data3 = data.OperatorId == null ? "Öperatör atanmadı" : MemberShipTools.GetOperator(data.OperatorId);
                    var data4 = data.TeknisyenId == null ? "Teknisyen Atanmadı" : MemberShipTools.GetTechnician(data.TeknisyenId);
                    <tr>
                        <td class="text-center">@(i + 1)</td>
                        @*<td class="text-center"></td>*@
                        <td>@data2</td>
                        <td>@data.UrunTipi</td>
                        <td>@data.UrunAdi</td>
                        <td>@data3</td>
                        <td>@data4</td>
                        <td>@data.TeknisyenYorumu</td>
                        <td>@data.UrunDurumu</td>
                        <td>@data.TamirEdildiMi</td>


                        @*<td class="text-center">
                                <div class="btn-group">
                                    <button class="btn btn-xs btn-default btnsendcode" name="@data.Id" type="button" title="Send Activation Code">
                                        <i class="ion-android-mail"></i>
                                    </button>
                                    <button class="btn btn-xs btn-default btnsendpassword" name="@data.Id" type="button" title="Send Password">
                                        <i class="ion-key"></i>
                                    </button>
                                    <a href="@Url.Action("ArizaDetaySayfasi","Operator",new {id=data.Id})">
                                        Detay

                                        <i class="ion-edit"></i>
                                    </a>
                                </div>
                            </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- .card-block -->
</div>


