@model TeknikServis.Models.ViewModels.RegisterLoginViewModel
@{
    Layout = null;
}
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/vendor/css/CustomSheet.css" rel="stylesheet" />
    <script src="~/vendor/js/CustomJavaScript.js"></script>
</head>

<!------ Include the above in your HEAD tag ---------->

<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">

                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" style="color:black" class="active" id="login-form-link">Giriş</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" style="color:black" id="register-form-link">Kaydol</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body" >
                    <div class="row">
                        <div class="col-lg-12">
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "login-form", role = "form", style = "display: block;" }))
                            {@Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.LoginViewModel.UserName, new { @class = "form-control", placeholder = "Username", id = "username", name = "username" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.LoginViewModel.Password, new { @class = "form-control", placeholder = "Password", type = "password", id = "password", name = "password" })
                            </div>
                            <div class="form-group text-center">
                                @Html.CheckBoxFor(x => x.LoginViewModel.RememberMe, new { id = "remember", name = "remember" })
                                <label for="remember"> Beni Hatırla</label>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <button type="submit" style="background-color:black" name="register-submit" id="register-submit" class="form-control btn btn-register">Giriş Yap</button>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <a href="@Url.Action("RecoverPassword", "Account")" tabindex="5" class="forgot-password" style="color:black;">Şifrenizi Mi Unuttunuz ?</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "register-form", role = "form", style = "display: none;" }))
                            {@Html.AntiForgeryToken()
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.RegisterViewModel.Ad, new { @class = "form-control", placeholder = "Adınız" })
                            </div>
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.RegisterViewModel.Soyad, new { @class = "form-control", placeholder = "Soyadınız" })
                            </div>

                            <div class="form-group">

                                @Html.TextBoxFor(x => x.RegisterViewModel.UserName, new { @class = "form-control", placeholder = "UserName", id = "username", name = "username" })
                            </div>
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.RegisterViewModel.Email, new { @class = "form-control", placeholder = "Email", id = "email", name = "email", type = "email" })
                            </div>
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.RegisterViewModel.Password, new { @class = "form-control", placeholder = "Password", id = "password",
                               name = "password" , type="password" })
                            </div>
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.RegisterViewModel.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", id = "confirm-password",
                               name = "confirm-password" , type="password" })
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">

                                        <button type="submit" name="register-submit" id="register-submit" class="form-control btn btn-register" style="background-color:black;">Kayıt Ol</button>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>