@model TeknikServis.Models.ViewModels.RegisterLoginViewModel
@{
    Layout = null;
}
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/vendor/css/CustomSheet.css" rel="stylesheet" />
    <script src="~/vendor/js/CustomJavaScript.js"></script>
</head>

<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">                    
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "login-form", role = "form", style = "display: block;" }))
                            {
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.LoginViewModel.UserName, new { @class = "form-control", placeholder = "Username", id = "username", name = "username" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.LoginViewModel.Password, new { @class = "form-control", placeholder = "Password", type = "password", id = "password", name = "password" })
                                </div>
                                <div class="form-group text-center">
                                    @Html.CheckBoxFor(x => x.LoginViewModel.RememberMe, new { id = "remember", name = "remember" })
                                    <label for="remember"> Beni Hatırla</label>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <button type="submit" name="register-submit" id="register-submit" class="form-control btn btn-register">Giriş Yap</button>
                                            @*<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">*@
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "register-form", role = "form", style = "display: none;" }))
                            {
                                <div class="form-group">

                                    @Html.TextBoxFor(x => x.RegisterViewModel.Ad, new { @class = "form-control", placeholder = "Adınız" })
                                </div>
                                <div class="form-group">

                                    @Html.TextBoxFor(x => x.RegisterViewModel.Soyad, new { @class = "form-control", placeholder = "Soyadınız" })
                                </div>

                                <div class="form-group">

                                    @Html.TextBoxFor(x => x.RegisterViewModel.UserName, new { @class = "form-control", placeholder = "UserName", id = "username", name = "username" })
                                </div>
                                <div class="form-group">

                                    @Html.TextBoxFor(x => x.RegisterViewModel.Email, new { @class = "form-control", placeholder = "Email", id = "email", name = "email", type = "email" })
                                </div>
                                <div class="form-group">

                                    @Html.TextBoxFor(x => x.RegisterViewModel.Password, new { @class = "form-control", placeholder = "Password", id = "password",
                                   name = "password" , type="password" })
                                </div>
                                <div class="form-group">

                                    @Html.TextBoxFor(x => x.RegisterViewModel.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", id = "confirm-password",
                                   name = "confirm-password" , type="password" })
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            @*<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">*@
                                            <button type="submit" name="register-submit" id="register-submit" class="form-control btn btn-register">Kayıt Ol</button>
                                        </div>
                                    </div>
                                </div>
                            }                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>