@using TeknikServis.BLL.Identity
@model TeknikServis.Models.ViewModels.ProfilePasswordViewModel
@{
    ViewBag.Title = $"{Model.UserProfileViewModel.Ad} {Model.UserProfileViewModel.Soyad} Profil Sayfası";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/vendor/css/CustomSheet.css" rel="stylesheet" />
    <script src="~/vendor/js/CustomJavaScript.js"></script>
</head>

<!------ Include the above in your HEAD tag ---------->
<div class="card card-profile">
    <div class="card-profile-img bg-img" style="background-image: url(~/assets/img/misc/base_pages_profile_header_bg.jpg);">
    </div>
    <div class="card-block card-profile-block text-xs-center text-sm-left">
        <img class="img-avatar img-avatar-96" src="@Model.UserProfileViewModel.AvatarPath" alt="" />
        <div class="profile-info font-500">
            <b>Ad Soyad:</b> @MemberShipTools.GetNameSurname(null)<br/> <b>Kullanıcı Adı:</b> @Model.UserProfileViewModel.UserName
            <div class="small text-muted m-t-xs"> <b>Email:</b> @Model.UserProfileViewModel.Email</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row text-lg-center">
                        <div class="col-xs-6">
                        <a href="#" class="active" id="login-form-link">Sifremi Degistir</a>
                    </div>
                        <div class="col-xs-6 text-center">
                            <a href="#" id="register-form-link">Profil Bilgilerimi Güncelle</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "login-form", role = "form", style = "display: block;" }))
                            {
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.ChangePasswordViewModel.OldPassword, new { @class = "form-control", placeholder = "Mevcut Şifrenizi Giriniz", id = "username", type= "password" , name = "username" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.ChangePasswordViewModel.NewPassword, new { @class = "form-control", placeholder = "Yeni Şifrenizi Giriniz", type = "password", id = "password", name = "password" })
                                </div>
                                <div class="form-group text-center">
                                    @Html.TextBoxFor(x => x.ChangePasswordViewModel.ConfirmNewPassword, new { @class = "form-control", placeholder = "Yeni Şifrenizi Tekrar Giriniz", type = "password", id = "password", name = "password" })
                                    

                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <button type="submit" name="register-submit" id="register-submit" class="form-control btn btn-register">Sifreyi Güncelle</button>
                                            @*<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">*@
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Sifremi Unuttum</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                                @using (Html.BeginForm("UpdateProfile", "Account", FormMethod.Post, new { id = "register-form", role = "form", style = "display: none;", @class = "fieldset", enctype = "multipart/form-data" }))
                                {
                                    <div class="form-group">
                                        @Html.HiddenFor(x => x.UserProfileViewModel.Id)
                                        @Html.HiddenFor(x => x.UserProfileViewModel.UserName)
                                        @Html.TextBoxFor(x => x.UserProfileViewModel.Ad, new { @class = "form-control", placeholder = "Adınız" })
                                    </div>
                                    <div class="form-group">

                                        @Html.TextBoxFor(x => x.UserProfileViewModel.Soyad, new { @class = "form-control", placeholder = "Soyadınız" })
                                    </div>
                                    <div class="form-group">

                                        @Html.TextBoxFor(x => x.UserProfileViewModel.Email, new { @class = "form-control", placeholder = "Email", id = "email", name = "email", type = "email" })
                                    </div>
                                    <div class="form-group">

                                        @Html.TextBoxFor(x => x.UserProfileViewModel.TelefonNO, new { @class = "form-control", placeholder = "Telefon No", id = "telefonno", name = "telefonno" })
                                    </div>

                                    <div class="form-group">

                                        @Html.TextBoxFor(x => x.UserProfileViewModel.PostedFile, new { @class = "form-control", type = "file", multiple = false })
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">

                                                <button type="submit" name="register-submit" id="register-submit" class="form-control btn btn-register">Güncelle</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>